@import "./variables";
// @import "./imports";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');



.top-cont{
    padding: 10rem 0rem;
    .empty-cart, .empty_cart{
        height: 20rem;
        @include flex();
        text-align: center;
        color: $text;
        opacity: 0.2;
    }
}

.main_container
{
    color: $text;
    @include flex(row,space-between,flex-start);
    
    @include media($sm)
    {
        @include flex(column,space-evenly,center);
    }

    // position: relative;
    // top: 7rem;

    padding: 1rem 8rem;
    
    @include media($lm){
        padding: 1rem 6rem;
    }
    @include media(1300px){
        padding: 1rem 3rem;
    }
    
    @include media(1000px){
        padding: 1rem 0.5rem;
    }
    @include media($sm){
        margin: 1rem 2rem;
    }
   
    .cart-element{
        @include flex(column,flex-start,center);
        
        .sub_main_container{
            @include flex(row,space-around);
            width: 55vw;
            margin-bottom: 4rem;
            border-radius: 0.2rem;
           @include box-shadow-cart;

           @include media($lm)
           {
               width: 58vw;
               margin-bottom: 2rem;
           }
           @media only screen and (max-width: 1100px) and (min-width:1000px){
            width: 61vw;
            } 
            @include media(999px){
                width: 71vw;
            }
            @include media($sm)
            {
                @include flex(row,space-evenly);
                width: 85vw;
                margin-bottom: 2rem;
            }
            @include media(260px){
                width: 95vw;
            }
          
            
            .img_container{
                
                width:   10vw;
                height: inherit;
                @include flex(row,flex-start,center);
                @include box-shadow-cart();

                @include media($lm)
                {
                    width: 15vw;
                }
                @include media(1300px){
                    width: 18vw;
                }
                @include media(880px){
                    width: 20vw;
                }
                
                @include media($sm){
                    width:   35vw;
                    height: inherit;
                    @include flex(row,space-evenly,center);
                    
                }
                @include media(550px){
                    width: 37rem;
                }
                @media screen and (max-width:360px) and (min-width:340px){
                    width:   46vw;
                }


                 img
                {
                   
                    height: 80%;
                    object-fit: cover;
                    width: 99%;
                    @include media($sm){
                        height: 80%;
                        width: 85%;
                        align-self: center
                    }


                }
            }

            .item_container{
                @include flex(column,flex-start);
                width: 45vw;
                @include media($lm){
                    width: 55vw;
                }
                
                @include media(1300px){
                    width: 51vw;
                }
               

                @include media($sm){
                    width: 45vw;
                }
                @media screen and (max-width:$sm) and (min-width:600px){
                    width: 50vw;
                }

                .sub_item_container{
                    @include flex(row,space-between,center);

                    @include media($sm)
                    {
                        @include flex(column,space-evenly,unset);
                    }

                    .container-1{
                        padding: 1.1rem 0.25rem;
                        width: 27vw;
                        @include media(999px){
                            width: 31vw;
                        }
                        @include media($sm){
                            padding: 1rem 0.25rem;
                            width: 37vw;
                        }
                        @include media(500px){
                            padding: 1.3rem 0.25rem;
                            width: 37vw;
                        }
                        @include media(380px){
                            padding: 0.4rem 0.25rem;
                            width: 37vw;
                        }

                
                        .name{
                            padding-bottom: 0.5rem;
                            font-size: 1.2rem;
                            font-weight: 100;
                            @media screen and (max-width:$sm) and (min-width:600px){
                                font-size: 1.4rem;
                                padding-bottom: 0.4rem;
                            }
                            @include media(600px){
                                font-size: 1.1rem;
                                padding-bottom: 0.4rem;
                            }
                            a{
                                text-decoration: none;
                                color: $text;
                            }
                        }
                        .author
                        {
                            padding-bottom: 0.1rem;
                            font-size: 0.9rem;
                            font-weight: 50;
                            @media screen and (max-width:$sm) and (min-width:600px){
                             
                                font-size: 1rem;
                                font-weight: 50;
                            }
                            
                            @include media(600px){
                                font-size: 0.7rem;
                                font-weight: 50;
                            }
                        }
                        .pub{
                            font-size: 0.9rem;
                            font-weight: 50;
                            @media screen and (max-width:$sm) and (min-width:650px){
                                font-size: 0.9rem;
                                font-weight: 50;
                            }
                            @include media(649px){
                                font-size: 0.7rem;
                                font-weight: 50;
                            }
                        }
                
                        .quantity{
                            font-family: 'Redressed', cursive;
                            font-size: 1rem;
                            
                            @include flex(row,flex-start);
                            
                            .item_count{
                                @include flex(row,unset,unset);
                                border: none;
                                font-size: 1rem;
                                 width: 13vw;
                                padding-left: 1rem;
                                .display_item_count{
                                 
                                    font-size: 1rem;
                                    padding: 0.1rem 0.7rem;
                                }
                                .count-button{
                                    
                                    padding: 0.3rem 0.5rem;
                                    background-color: rgb(102, 26, 39);
                                    color: $text;
                                    border-radius: 100rem;
                                    font-size: 0.7rem;
                                    cursor: pointer;
                                }
                
                           }
                           
                        }
                
                        .drop-down {
                            @include flex(column,flex-start,flex-start);
                            position: relative;
                            
                           
                                .drop-button{
                                    
                                    @include flex(row,space-evenly,center);
                                    width: 10vw;
                                    padding: 0.2rem 0.2rem;
                                    background-color: $active-sel;
                                    box-shadow:0.03rem 0.03rem 0.1rem 0.1rem rgba(46, 46, 46, 0.451);
                                    
                                    @include media(1150px){
                                        width:15vw;
                                    }
                                    @include media($sm){
                                        @include flex(row,space-around,center);
                                        width:37vw;
                                        padding: 0.1rem 0.1rem;
                                    }
                                    
                                    @include media(550px){
                                        width:35vw;
                                    }
                                    
                                    .value{
                                        padding-right: 0.1rem; 
                                        font-size: 1rem;
                                        display: inline-block;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        @media screen and (max-width:$sm) and (min-width:550px){
                                            font-size: 1.2rem;
                                           
                                        }
                                        @include media(550px){
                                            font-size: 1rem;
                                            
                                        }
                                    }
                                    button{
                                        font-size: 1.2rem;
                                        width: 1.5vw;
                                        text-decoration: none;
                                        border: none;
                                        background-color:transparent;
                                        color: $nav-color-begin;
                                        cursor: pointer;
                                        outline: none;
                                        
                                    }
                                
                                }
                                .drop-options {
                                   
                                    @include flex(column,flex-start,center);
                                    height: 8vh;
                                    position: absolute;
                                    top:2rem;
                                    display: none;

                                     li{
                                        list-style: none;   
                                        @include flex(column,flex-start);
                                        width: inherit;
                                        opacity: 1; 

                                    }

                                    a{
                                        @include box-shadow-cart();
                                        width: inherit;
                                        text-align: center;
                                        text-decoration: inherit;
                                        color: inherit;
                                        width: 10vw;
                                        padding: 0.4rem 0rem;
                                        font-size: 1rem;
                                        font-weight: 200;
                                        transition: all 0.4s ease;
                                        cursor: pointer;
                                        opacity: 1;
                                        @include bgGradient;
                                        @include media(1150px){
                                            width:15vw;
                                        }
                                        @include media($sm){
                                            width: 37vw;
                                        }
                                        @include media(550px){
                                            width:35vw;
                                        }
                                        border-radius: 1px;

                                        &:hover{
                                           
                                            color: $text;
                                           
                                        }
                                    }
                                }
                            
                            
                            

                                   
                        }
                
                    }
                    .container-2
                    {
                        padding: 0.5rem 0rem;
                        width: 15vw;
                        @include media($sm){
                            width: 37vw;
                         }
                
                        .item-price{
                            font-weight: 100;
                            align-self:flex-end;
                            float: right;
                            padding-right: 1rem;
                            @include media($sm){
                                float: none;
                                padding-right: 0rem;
                                padding-left: 0.1rem;
                                @include flex(row,flex-start);
                            }
                            
                
                            .book_price_NB {
                               
                                .fa-rupee-sign{
                                    font-size: 1.2rem;
                                }
                            }
                
                            .rate_NB{
                                // padding-left: 0.5rem;
                                font-weight: 10;
                                font-size:1.4rem;
                            }
                            .discount_NB{
                                @include flex(row);
                                font-size: 0.7rem;
                               

                                .original_price_cont {
                                    text-decoration: line-through;
                                    padding-right: 0.4rem;
                                    color: rgb(102, 102, 153);
                
                                    .fa-rupee-sign{
                                        text-decoration: line-through;
                                    }
                                    @include media(390px)
                                    {
                                        display: none;
                                    }
                                }
                
                                .discount_percent_NB{
                                   
                                    color:rgb(255, 179, 204);
                                    font-family: 'Libre Baskerville', serif;
                                }
                                @include media($sm){
                                    font-size: 0.9rem;
                                    padding-left: 0.8rem;
                                    @include flex(row,flex-start,unset);
                                }
                
                            }
                        }

                        .delete_button{
                            box-shadow:0.03rem 0.03rem 0.1rem 0.1rem rgba(46, 46, 46, 0.451);
                            padding: 0.3rem 0.4rem;
                            border-radius: 2px;
                            cursor: pointer;
                            background-color: $active-sel;
                            @include media(999px){
                                font-size: 0.6rem;
                            }
                            @include media($sm){
                                font-size: 0.8rem;
                                
                            }
                            @include media(280px){
                              font-size: 0.6rem;
                            }
                            &:hover{
                                background-color: $green-btn;
                            }
                        }
                       
                    }

                    .remove_button{
                        @include flex(row,space-between,center);
                        @include media($lm)
                        {
                            width: 17vw;
                        }
                        @include media(1300px)
                        {
                            font-size: 0.8rem;
                            @include flex(row,space-evenly,center);
                        }
                        @include media($sm)
                        {
                            width: inherit;
                            font-size: 1rem;
                            @include flex(row,space-between,center);
                       

                        }
                        
                        
                    }
                    .remove-div
                    {
                            @include media($sm){
                            display: none;
                            
                           
                        }
                        
                    }
                    



                }
            }
            
        }

       

    }

    .total_price_container{
        // position: fixed;
        // right: 2rem;
        // float: right;
        // padding-right: 4rem;
       
        color:$text;
        @include flex(column,space-evenly,unset);
        width: 20vw;
        margin-right: 1rem;
        @include media($sm)
        {
            position: static;
            width: 85vw;
            margin-right: 0px;
        }       
        .box-3{
          
                @include flex(row,space-between,unset);
        }

        .coupons{
            width: inherit;
            @include flex(column,space-evenly,unset);
            padding: 1rem 1rem;
            margin-bottom: 1.5rem;
            @include box-shadow-cart();
           
            h3{
                margin-bottom: 1rem;
                font-weight: 100;
                font-size: 1.3rem;
            }
        }

        .total_price{
            padding: 1rem 1rem;
            @include box-shadow-cart();
            @include flex(column,space-evenly,stretch);
            height: 25vh;
            margin-bottom: 0.9rem;
            
            h3{
                font-weight: 200;
                font-size: 1.3rem;
            }

        }

        .final_price{
            padding: 1rem 1rem;
            @include box-shadow-cart();
            @include flex(column,space-evenly,stretch);
            margin-bottom: 0.9rem;
        }

        .check-out_cont{
            @include box-shadow-cart();
            @include flex(row,space-evenly,stretch);
            height: 5vh;

            .check-out{
                width: 100%;
                height: 100%;
                border: none;
                color: $black;
                padding: 0.2rem 1rem;
                background-color: rgb(241, 163, 163);
                font-size: 1.3rem;
                font-weight: 500;
            }
        }

    }


}


.pin_NB{
    width: auto;
    color: $text;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    @include box-shadow-cart();
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
    /* font-size: 1rem; */
}
/* .pin_NB  */
.pin_NB input{

    /* width: 9rem; */
    color: #ddd;
    font-size: .7rem;
    background-color: #1a1a1c;
    margin-right: 1rem;
}
.pin_NB input:focus{
    outline-width: 0px;
    background-color: #1a1a1c;
}
.pin_NB input:visited{
    outline-width: 0px;
    background-color: #1a1a1c;
}
.check_text_NB{
    font-size: .9rem;
}
input[type=PIN]{
    border: none;
    border-bottom: 2px solid white;
}
.pin_NB button{
    /* border: 1px solid rgba(70, 50, 50, 0.7); */
    border-radius: 3px;
    font-size: .9rem;
    background-color: #1a1a1c;
    border: none;
    color: #ddd;
}

.pin_NB button:focus{
    outline-width: 0px;
}

