<footer id="footer">
    <div class="left">
        <div class="logo">
            <i class="fas fa-book-open"></i>bookStore
        </div>
            <ul class="box">
                <li><a href=""><i class="fas fa-phone-alt"></i> 420-9871234</a></li>
                <li><a href=""><i class="fas fa-envelope"></i> contact@bookstore.com</a></li>
                <li><a href=""><i class="fas fa-map-marker-alt"></i> 420, Yemen Road, Yemen</a></li>
            </ul>
    </div>
    <div class="middle">
            <h2>Useful Links</h2>
            <ul class="box">
                <li><a href="">Contact Us</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Shipping and Tracking</a></li>
                <li><a href="">Return Policy</a></li>
                <li><a href="">T&Cs</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="/dev">Developers</a></li>
            </ul>
    </div>
    <div class="right">
            <h2>Connect with us!</h2>
            <form class="connect">
                <input type="email" placeholder="your email" name="">
                <button>OK</button>
            </form>
            <div class="box">
                <a href="" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="" class="social"><i class="fab fa-twitter"></i></a>
                <a href="" class="social"><i class="fab fa-instagram"></i></a>
            </div>
    </div>
</footer>

<div class="bottom">
    © bookStore 2020. All rights reserved.
</div>
<script src="/js/navbar.js"></script>
</body>
</html>