<%-include ('partials/header.ejs') %>

<link rel="stylesheet" href="/css/404.css">
    <!-- 404 -->

    <div class="cont404">
        <img src="/svgs/undraw_page_not_found_su7k.svg" alt="404">
    </div>

    <!--404  -->

    
<%- include ('partials/footer.ejs') %>