<%- include("partials/header") %>
<link rel="stylesheet" href="/css/Developer.css">
<script src="https://www.linkedin.com/autofill/js/autofill.js" type="text/javascript" async></script><script type="IN/Form2"></script>

<div class="container">
    <div class="head">Developers</div>
    <div class="sub-cont">
        <div class="card">
            <div class="img-cont">
                <img src="/images/aditya.png" alt="Aditya">
            </div>
            <div class="box">
                Aditya Kumar Singh
            </div>
            <div class="icons">
                <a href="https://www.linkedin.com/in/aditya-singh-96613a1b3/" class="social linkedin"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="social github"><i class="fab fa-github"></i></a>
                <a href="mailto:adityakr_ug@ece.nits.ac.in" class="social email"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
        <div class="card">
            <div class="img-cont">
                <img src="/images/ayan.png" alt="Ayan">
            </div>
            <div class="box">
                Ayan Paul
            </div>
            <div class="icons">
                <a href="https://www.linkedin.com/in/ayan-paul-7b481a177/" class="social linkedin"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="social github"><i class="fab fa-github"></i></a>
                <a href="mailto:ayan_ug@ece.nits.ac.in" class="social email"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
        <div class="card">
            <div class="img-cont">
                <img src="/images/Nishant.png" alt="Nishant">
            </div>
            <div class="box">
                Nishant Sharma
            </div>
            <div class="icons">
                <a href="https://www.linkedin.com/in/nishant-sharma-80631a14b/" class="social linkedin"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="social github"><i class="fab fa-github"></i></a>
                <a href="mailto:nishant_ug@ece.nits.ac.in" class="social email"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
        <div class="card">
            <div class="img-cont">
                <img src="/images/soumya.png" alt="Soumya">
            </div>
            <div class="box">
                Soumya Sen
            </div>
            <div class="icons">
                <a href="https://www.linkedin.com/in/soumya-sen-0a8417175/" class="social linkedin"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="social github"><i class="fab fa-github"></i></a>
                <a href="mailto:soumya_ug@ece.nits.ac.in" class="social email"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload=function (){
        setTimeout(() => {
            window.scrollTo(0,0);
        }, 5);
    };
</script>
<%- include("partials/footer") %>